<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/1280px-Ionic_Logo.svg.png"></ion-img>
    <ion-header>
      <ion-title>
        Curso de Ionic
      </ion-title>
    </ion-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/1280px-Ionic_Logo.svg.png"></ion-img>
    <ion-header>
      <ion-title>
        Curso de Ionic
      </ion-title>
    </ion-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/1280px-Ionic_Logo.svg.png"></ion-img>
    <ion-header>
      <ion-title>
        Curso de Ionic
      </ion-title>
    </ion-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/1280px-Ionic_Logo.svg.png"></ion-img>
    <ion-header>
      <ion-title>
        Curso de Ionic
      </ion-title>
    </ion-header>
  </ion-card>
 </ion-content>
