<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="profile-pic">
    <ion-img [src]="(photo | async)?.foto_src"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rubén Córcoles</ion-card-title>
    </ion-card-header>
    <ion-card-content>Autor del curso de Ionic</ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
